<section id="comment">
    <div class="comment">
        <div class="comment__header">
            <div class="comment__avatar"></div>
            <div class="comment__name">
                <a href="https://www.twitter.com/inadram" rel="noopener" aria-label="twitter profile page">
                    <span>Amir Mardani</span>
                    <span class="comment__name comment__name--id">@inadram</span>
                </a>
            </div>
            <div class="comment__twitter-like">
                <a href="https://twitter.com/intent/like?tweet_id={{ .Description}}" rel="noopener" aria-label="twitter like">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="36px"
                         height="36px">
                        <g id="surface1">
                            <path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="comment__body">
            <div class="comment__twitter-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 40" version="1.1" width="24px" height="24px">
                    <g id="surface2">
                        <path style=" fill:#03A9F4;"
                              d="M 42 12.429688 C 40.675781 13.015625 39.253906 13.40625 37.753906 13.589844 C 39.277344 12.683594 40.453125 11.238281 41.003906 9.53125 C 39.574219 10.371094 37.992188 10.984375 36.3125 11.308594 C 34.96875 9.882813 33.050781 9 30.925781 9 C 26.847656 9 23.539063 12.277344 23.539063 16.320313 C 23.539063 16.890625 23.605469 17.449219 23.730469 17.988281 C 17.59375 17.683594 12.148438 14.765625 8.507813 10.335938 C 7.867188 11.417969 7.507813 12.683594 7.507813 14.023438 C 7.507813 16.5625 8.808594 18.800781 10.792969 20.117188 C 9.582031 20.082031 8.441406 19.742188 7.445313 19.203125 C 7.445313 19.226563 7.445313 19.257813 7.445313 19.289063 C 7.445313 22.839844 9.992188 25.796875 13.367188 26.472656 C 12.75 26.640625 12.097656 26.734375 11.425781 26.734375 C 10.949219 26.734375 10.484375 26.679688 10.035156 26.597656 C 10.972656 29.5 13.699219 31.621094 16.933594 31.683594 C 14.402344 33.644531 11.21875 34.820313 7.757813 34.820313 C 7.160156 34.820313 6.574219 34.785156 5.996094 34.714844 C 9.269531 36.785156 13.152344 38 17.320313 38 C 30.90625 38 38.339844 26.84375 38.339844 17.164063 C 38.339844 16.847656 38.328125 16.53125 38.3125 16.222656 C 39.761719 15.195313 41.011719 13.90625 42 12.429688 "/>
                    </g>
                </svg>
            </div>
            <div class="comment__twitter-comment"><a href="https://twitter.com/inadram/status/{{ .Description}}"  aria-label="twitter status"target="_blank" rel="noopener">What do you think about this post ?</a></div>
            <div class="comment__arrow">
                <a href="https://twitter.com/inadram/status/{{ .Description}}" aria-label="twitter status details" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" version="1.1" width="36px"
                     height="36px">
                    <g id="surface3">
                        <path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"/>
                    </g>
                </svg>
                </a>
            </div>
        </div>
    </div>
</section>