<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       Amir Mardani © Copyright {{ now.Format "2006"}}
    {{ end }}
    </p>
</footer>