<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ if .Site.Params.enableTwitterCard }} 
			{{ partial "twitter-cards.html" . }}
		{{ end }}
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ .Hugo.Generator }}
		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
		{{ $css := resources.Get "css/style.css" }}
		{{ $highlight := resources.Get "css/highlight.css" }}
		{{ $style := slice $css $highlight | resources.Concat "css/style.css" }}
		{{ $bundle := $style | resources.Minify }}
		<link rel="stylesheet" href="{{ $bundle.Permalink }}">

		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}
	</head>
