<div class="profile">
    <section class="wrapper">
        <header id="header">
            <h1>{{ .Site.Title }}</h1>
            {{ with .Site.Params.bio }}<h2>{{ . | markdownify }}</h2>{{ end }}
        </header>
    </section>
</div>
