{{ $related := .Site.RegularPages.RelatedIndices . "tags" "date" | first 5 }}
{{ with $related }}
<ul>
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ end }}