{{ partial "head.html" . }}
<body>
{{ partialCached "nav.html" . }}

<section class="post wrapper">
    <article class="article">
        <header>
            <h1>
                {{ .Title }}
            </h1>
            <h2 class="headline">
                {{ .Date.Format "Jan 2, 2006 15:04" }}
                · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                · {{ .ReadingTime }} minute read
                <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
            </h2>
        </header>
        {{ if .Site.Params.enableToc }}
        {{ if .TableOfContents }}
        <div id="toc">
            {{ .TableOfContents }}
        </div>
        {{ end }}
        {{ end }}
        <section id="post-body">
            {{ .Content }}
        </section>
        <section class="related">
            {{ partialCached "related.html" . }}
        </section>
    </article>
    {{if .Description }}
        {{ partial "comment.html" .}}
    {{end}}
    {{ partialCached "footer.html" . }}
</section>

{{ partialCached "js.html" . }}
</body>
</html>
