{{ partial "head.html" . }}
   <body>
      {{ partial "nav.html" . }}
      {{ partial "profile.html" . }}


       <section class="tags wrapper">
           <div class="page-tags">
               <ul>
                  {{ $data := .Data }}
                  {{ range $key, $value := .Data.Terms.ByCount }}
                     {{ if ($value.Name) }}
                        <li>
                           <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                              {{ $value.Name | upper }} <span>({{ $value.Count }})</span>
                           </a>

                        </li>
                     {{ end }}
                  {{ end }}
              </ul>
           </div>
           {{ partial "footer.html" . }}
       </section>

       {{ partial "js.html" . }}
   </body>
</html>
